@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NRT';
  src: url('/src/assets/fonts/NRT-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NRT';
  src: url('/src/assets/fonts/NRT-Reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-sans bg-gray-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200 transition-colors duration-300;
}
